@mixin ios-inspector($paddingValue: 0px) {
  padding-bottom: calc(
    constant(safe-area-inset-bottom) + $paddingValue
  ); /* 兼容 iOS < 11.2 */
  padding-bottom: calc(
    env(safe-area-inset-bottom) + $paddingValue
  ); /* 兼容 iOS >= 11.2 */
}
