// 主题色
$primary: #61c1e4;

// 字体颜色
$color: #111111;
$subColor: #646466;

// 背景颜色
$background: #f5f5f5;

// 边框颜色
$border: #c4c4c6;
$border-light: rgba($border, 0.2);

// 性别
$man: #007bff;
$woman: #ff69b4;
