@import '@/styles/index.scss';

.index-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url('../../assets/images/home-bgc.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  &-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0 12px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 68px);
    box-sizing: border-box;

    &-overview {
      width: 100%;
      height: auto;
      background-color: #ffffff;
      padding: 0 12px 12px;
      border-radius: 8px;
      box-sizing: border-box;

      &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 12px;

        &-item {
          text-align: center;

          &-label {
            font-size: 12px;
            color: $subColor;
          }

          &-value {
            margin-top: 4px;
            font-size: 20px;
            font-weight: 500;
          }

          &-icon {
            width: 160px;
            height: 138px;
          }
        }
      }
    }

    // &-detail {
    //   width: 100%;
    //   height: auto;

    //   &-group {
    //     border-radius: 8px;
    //     background-color: #fff;
    //     margin-top: 12px;

    //     &-title {
    //       font-size: 12px;
    //       color: $subColor;
    //       display: flex;
    //       justify-content: space-between;
    //       padding: 12px;
    //       position: relative;
    //     }

    //     &-title::after {
    //       content: '';
    //       position: absolute;
    //       width: 100%;
    //       left: 0;
    //       bottom: 0;
    //       height: 1px;
    //       background-color: $border;
    //       transform: scaleY(0.2);
    //     }
    //   }
    // }
  }
}
