@import "@/styles/index.scss";

.nick-name {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;

  &-input {
    margin: 100px 0 40px;
    background-color: $background;
    padding: 12px;
    color: $color;
    border-radius: 8px;
  }

  &-save {
    width: 160px;
    background-color: $primary;
    color: #fff;
    border-radius: 20px;
  }
}
